In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [48]:
df = pd.read_excel("flight_price (1).xlsx")

In [32]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

df["Airline"].unique()

In [49]:
df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True)

C:\Users\Pravina\AppData\Local\Temp\ipykernel_22912\3250978639.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True)
C:\Users\Pravina\AppData\Local\Temp\ipykernel_22912\3250978639.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True)

In [35]:
type(df["Date_of_Journey"])

pandas.core.series.Series

In [36]:
df["Date_of_Journey"].dtypes

dtype('<M8[ns]')

In [52]:
df["Date"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.day
df["Month"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.month
df["Year"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.year

C:\Users\Pravina\AppData\Local\Temp\ipykernel_22912\1891176170.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Date"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.day
C:\Users\Pravina\AppData\Local\Temp\ipykernel_22912\1891176170.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Month"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.month
C:\Users\Pravina\AppData\Local\Temp\ipykernel_22912\1891176170.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Year"] = pd.to_datetime(df["Date_of_Journey"],infer_datetime_format = True).dt.year

In [53]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [54]:
df.drop("Date_of_Journey",inplace=True,axis = 1)

In [ ]:
## Extract day,month and year from the string

df["Date"] = df["Date_of_Journey"].apply(lambda x:x.split("/"[0]))
df["Month"] = df["Date_of_Journey"].apply(lambda x:x.split("/"[1]))
df["Year"] = df["Date_of_Journey"].apply(lambda x:x.split("/"[2]))

In [ ]:
## FE process
df["Date"] = df["Date_of_Journey"].str.split("/").str[0]
df["Month"] = df["Date_of_Journey"].str.split("/").str[1]
df["Year"] = df["Date_of_Journey"].str.split("/").str[2]

In [55]:
df["Dept_Hour"] = df["Dep_Time"].str.split(":").str[0]
df["Dept_Min"] = df["Dep_Time"].str.split(":").str[1]
df.drop("Dep_Time",inplace=True,axis = 1)

In [56]:
df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,2019,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,2019,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,2019,16,50

In [57]:
df["Dept_Hour"] = df["Dept_Hour"].astype(int)
df["Dept_Min"] = df["Dept_Min"].astype(int)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Dept_Hour        10683 non-null  int32
 13  Dept_Min         10683 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 959.9+ KB

In [59]:
df["Arrival_Time"] = df["Arrival_Time"].apply(lambda x:x.split(" ")[0])

In [60]:
df["Arrival_Time"]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [61]:
df["Arr_Hour"] = df["Arrival_Time"].str.split(":").str[0]
df["Arr_Min"] = df["Arrival_Time"].str.split(":").str[1]

df.drop("Arrival_Time",inplace=True,axis = 1)

df["Arr_Hour"] = df["Arr_Hour"].astype(int)
df["Arr_Min"] = df["Arr_Min"].astype(int)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Dept_Hour        10683 non-null  int32
 12  Dept_Min         10683 non-null  int32
 13  Arr_Hour         10683 non-null  int32
 14  Arr_Min          10683 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 959.9+ KB

In [64]:
df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [65]:
df["Total_Stops"].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [67]:
df[df["Total_Stops"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hour,Dept_Min,Arr_Hour,Arr_Min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,45,9,25

In [70]:
df["Total_Stops"] = df["Total_Stops"].map({"non-stop":0, "1 stop":1, "2 stops":2, "3 stops":3, "4 stops":4, "nan":1})

In [76]:
df["Duration_hour"] = df["Duration"].str.split(" ").str[0].str.split("h").str[0]
df["Duration_min"] = df["Duration"].str.split(" ").str[1].str.split("m").str[0]

In [75]:
df[df["Duration_hour"]=="5m"]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hour,Dept_Min,Arr_Hour,Arr_Min,Duration_hour
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,NaN,No info,17327,6,3,2019,16,50,16,55,5m

In [77]:
df.drop(6474,axis=0,inplace=True)

In [78]:
df["Duration_min"] = df["Duration_min"].fillna(0)

In [81]:
df.drop("Duration",inplace=True,axis=1)

In [82]:
df["Duration_hour"]=df["Duration_hour"].astype(int)
df["Duration_min"]=df["Duration_min"].astype(int)

In [83]:
df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [86]:
## Target Guided Ordinal Encoding:

df.groupby(["Airline"])["Price"].mean().sort_values(ascending=False)

Airline
Jet Airways Business                 58358.666667
Jet Airways                          11643.923357
Multiple carriers Premium economy    11418.846154
Multiple carriers                    10902.678094
Air India                             9606.804112
Vistara Premium economy               8962.333333
Vistara                               7796.348643
GoAir                                 5861.056701
IndiGo                                5673.682903
Air Asia                              5590.260188
SpiceJet                              4338.284841
Trujet                                4140.000000
Name: Price, dtype: float64

In [87]:
from sklearn.preprocessing import OneHotEncoder

In [88]:
ohe = OneHotEncoder()

In [98]:
pd.DataFrame(ohe.fit_transform(df[["Airline"]]).toarray())

        0    1    2    3    4    5    6    7    8    9    10   11
0      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
10677  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10678  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10679  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
10681  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10682 rows x 12 columns]

In [99]:
pd.DataFrame(ohe.fit_transform(df[["Airline"]]).toarray(),columns=ohe.get_feature_names())

AttributeError: 'OneHotEncoder' object has no attribute 'get_feature_names'

In [100]:
ohe.transform([["Air Asia"]]).toarray()

C:\Users\Pravina\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])